@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla',sans-serif;
    
}
body{
    color:white;
    background-color: #001925;
}
.container{
    max-width:100%;
    min-height:100vh;
    /* background-image: url(./back.jpg); */
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right:8%;
}
nav{
    padding:10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size:40px;
    text-decoration:none;
  
}
span{
    color: #49c0f7;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 15px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    transition:0.5s;
    
}
nav ul li a:hover{
    color:#49c0f7;
    font-size: larger;
    transition: all .50s ease-in-out;
}
img:hover{
    transform: scale(1.3);
    transition: all .5s ease-in-out;
}
.btn{
    background: #000;
}
.content{
    margin-top:10%;
    max-width: 100%;
}
.content h2{
    font-size: 60px;
}
.content p{
    margin-top:10px;
    line-height:25px;
}
a{
    color:#fff;
    font-family: 'Karla', 'Helvetica Neue', Helvetica, Arial;
    font-size: 1rem;
    font-weight:600;
}
.link{
    margin-top: 30px;
}
.hire{
    color:#fff;
    text-decoration: none;
    background: #5a9dfa;
    padding: 9px 25px;
    font-weight:900;
    border-radius:6px;
    transition:0.5s;

}
.link .hire:hover{
    background: #fff;
    border: 1px solid #f9004d;
    color: #49c0f7;
    transition:all .5s linear ease-in-out;
}
.hire:first-child{
    background: linear-gradient(90deg, #03a9f4, #49c0f7, #64c0eb, #8bd5f7);
    background-size: 400%;
}
.hire:last-child{
    background: linear-gradient(90deg, #3ebef9, #44c1fb, #36bdfb, #7176fa);
    background-size: 400%;
}
.hire:first-child:before,
.hire:last-child:before{
    filter:blur(20px);
    opacity:0;
    transition:opacity 0.5s;
}
/* Add lang logo boxes */
.hero-image{
    position:relative;
    width:50%;
    height: 350px;
    display:flex;
    margin-bottom: 100px;
    right: -60%;
    bottom:30%;
    
    
}
.cube{
    position: absolute;
    width:80px;
    transform: rotate(-25deg)skew(25deg);
    
    
}
.cube::before{
    position:absolute;
    content:"";
    width:21px;
    height:100%;
    transform: skewY(-45deg);
    left:-20px;
    bottom:-10px;
}
.cube::after{
    position: absolute;
    content:"";
    width:100%;
    height: 21px;
    transform:skewX(-45deg);
    left: -10px;
    bottom:-20px;
}
#html{
    left:100px;
    bottom:80px;
    background-image: url("./images/html-square.png");
    background-size: cover;
    background-color:#03a9f4;
    box-shadow:-60px 60px 20px rgba(211, 219, 222, 0.15);
    height:100px;
    
}
#html::before{
    background-color: #03a9f4;
}
#html::after{
    background-color: #49c0f7;
}
#css{
    left:250px;
    bottom:240px;
    background-image: url("./images/css-square.png");
    background-size: cover;
    background-color: #03a9f4;
    box-shadow: -100px 100px 20px rgba(211, 219, 222, 0.15);
    height:100px;
}
#css::before{
    background-color: #03a9f4;
}
#css::after{
    background-color: #49c0f7;
}
#javascript{
    left:450px;
    bottom:200px;
    background-image: url("./images/javascript-square.png");
    background-size: cover;
    background-color: #03a9f4;
    box-shadow: -40px 40px 20px rgba(211, 219, 222, 0.15);
    height:100px;
}
#javascript::before{
    background-color: #49c0f7;
}
#javascript::after{
    background-color: #49c0f7;
}
#react{
    left:350px;
    bottom:40px;
    background-image: url("./images/react-square.png");
    background-size: cover;
    background-color: #03a9f4;
    box-shadow:-80px 80px 20px  rgba(211, 219, 222, 0.15);
    height:100px;
    
    
}
#react::before{
    background-color:#49c0f7;
    
}
#react::after{
    background: #49c0f7;
}
#welcome-msg{
    transform: translate(28vw,15vh);
    animation: shadow 5s infinite ease-in-out;
}
p{
    font-weight: 900;
}
main{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius:10%;   
    
}
.btn-git{
    display:inline-block;
    background-color: #49c0f7;
    margin:20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:none;
    background-image: url("./images/projects-snapshot/github-mark.png");
    background-size: cover;
    background-position: center;
    
   
}
.btn-git:hover{
    box-shadow: 0 0 1rem #bce2f4;
    animation: rollover .20s ease ;
}
.hire a{
    
    text-decoration: none;
    
}
.projects h2{
    padding-top:1rem ;
    padding-bottom:1rem;
}
#proj-title{
    position: relative;
    bottom: 20rem;
    right:-25rem;
    
}
.projects{
    display:inline-flex;
    flex-wrap: wrap;
    /* background-color: #000; */
    padding-top:1rem;
    width:100%;
    max-width: 100%;
    gap:1rem;
    border-radius:1%;
    box-shadow: 0 0 1rem #49c0f7;

}
.projectcard{
    display: inline-flex;
    box-shadow: 0 0 1rem #49c0f7;
    text-align: center;
    border-radius:10%;
    justify-content: center;
    align-items: center;
    max-width: 100%;

}
.projects img {
    /* transform: translate(4rem.4rem); */
    border-radius:10%;
    width: 50%;
    height:50%;
    padding-bottom:20px;
    padding-top:1rem;
    margin:0 4rem;
    flex-direction: column;
    
}
.projects ,img ,.projectcard:hover{
    box-shadow: 0 0 5rem #49c0f7;
    border: none;

    
/* }
#budget-tracker{
 width:50vw;

 height:50vh;    */
}
#edu-section{
    display:inline-flex;
    
    
}
#edu-section h2{
    position: relative;
    bottom:-.50rem;
    right:-5rem; 
    display: block;
    text-decoration:  underline #49c0f7;
    /* transform: translate(18rem);     */

}
.edu-items img{
    /* position:relative; 
    width:5vw; 
    height:10vh;
    right:2.5rem;   */
    justify-content: space-evenly;
    align-items: center;
    
   
    

    
}
#contact-form{
    display: inline-flex;
    background-color: #001925;
    font-size:xx-large;
    width:auto;
    height:auto;
    white-space: wrap;
    justify-content: center;
    align-items: center;
    box-shadow:0 0 1rem #49c0f7;
    border-radius: 1rem;
}
#msg-area{
    padding:5rem;
 
}
.link{
    
    align-items: center;
    justify-content: center;
}
input{
    background-color:#fff;
    font-size: 1.5rem;
    border-radius:1rem;
    text-align: center;
    margin: 0 1rem  ;
}
#form-title{
    
    position: relative;
    padding-bottom: 1rem;
    font-size:2rem;
    
    
}
#contact-form{
    display: inline-flex;
    justify-content: flex-start;
    width:auto;
    height: auto;
}
#contact-form button{
   display: inline-flex;
    border: none;
    border-radius:1rem;
    margin-top:1rem;

}
@keyframes shadow{
    0%{
        text-shadow:0 0 .1rem #64c0eb;
    }
    100%{
        text-shadow: 0rem 0rem .5rem #8bd5f7;
    }
}
@keyframes rollover{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media only screen and (max-width: 799px) {
    .hero-image{
        display:inline-flex;
        position:sticky;
        width: 100%;
        height: 50vh;
        justify-content: center;
        transform: translate(-4rem,-5rem);
        z-index: -6;
        opacity:20%;
        
    }
    .cube {
        width: 15%;
        position:relative;
        max-width: 100%;
        
    }
    #html{
        left: -30%;
        bottom: -60%;
        padding:15%;
        max-width: 100%;
        
      }
      #css {

          left: -20%;
          bottom: -95%;
          padding:15%;
          max-width: 100%;
      }
      #javascript{
          left: 50%;
          bottom:-30%;
          padding:15%;
          max-width: 100%;
      }
      #react{
          left: 100%;
          bottom: -70%;
          padding:15%;
          max-width: 100%;
      }
      #welcome-msg{
        position:relative;
        right:1rem;
        max-width: 100%;
      }
      .btn-git{
        width:30px;
        height:30px;
        border-radius: 100%;
        transform: translate(-15rem,2rem);
        margin-bottom:3rem ;
      }
      #welcome-msg{
        font-size: larger;
        position: relative;
        right: 7rem;
        text-align: center;
      }
      .projects{
       display:inline-flex;
       justify-content: center;
       align-items: center;
       position:relative;
       margin-left: -14rem;
      } 
      .projectcard h2{
        display: block;
        font-size: x-large;

        
        
      }
      .projectcard{
        display: inline-block;
        width:100%;
        height:100%;
        justify-content: center;
        align-items: center;

     } 
     .projectcard>img{
        margin:auto;
        width: 100vw;
        height:100%;
        
        
        
     }
     /* #fastfood-app{
        display: inline-flex;
        background-size: cover;
        width:100%;
        height:100%;
        
     } */
     #edu-section{
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        gap:3rem;
        
     }
     /* #edu-section h2{
        position: relative;
        right:5vw;
     } */
     #edu-section img{
        display: inline-flex;
        width:50px;
        height:70px;
        margin: auto;
        align-items: center;
        transform: translate(-45vw,8vh);
         
     }
     #edu-section>h2{
        transform: translate(5rem,-4rem);
        margin-bottom:2rem;
        margin-top:2rem;
     }
    
     #contact-form{
        display:inline-flex;
        padding: 1rem;
        transform: translate(-4rem);
        border: none;
        
        
     }
     #contact-form ,label{
        display:inline-flex;
        text-align: start;
        padding-top:2rem;
        font-weight: 600;
        font-size: large;
        transform: translate(-2rem);
        
       
        
     }
     #form-title{
        transform: translate(-8rem);
     }
     #msg-area{
        display: block;
        transform: translate(-5rem);
        
     }
     
     #contact-form input{
        width:50%;
        height:20px;
        margin:auto;
        font-size: medium;
        text-align:start;
    
     }

  }
  @media only screen and (min-width: 800px) {
    .hero-image{
        display:inline-flex; 
        position:sticky;
        width: 100%;
        height: 50vh;
        justify-content: center; 
        align-items: center;
         /* transform: translate(-4rem,-5rem);  */
        z-index: -6;
        opacity:20%;
        
    }
    .cube {
        width: 15%;
    }
    #html{
        padding: 5rem;
        left: 50%;
        bottom: -20%;

    

      }
      #css {
        padding:5rem;
          left:30%;
          bottom: -60%;
         
      }
      #javascript{
          padding:5rem;
          left: 10%;
          bottom:-20%;
          
      }
      #react{
        padding:5rem;
          left: 25%;
          bottom: 90px;
          
      }
      #welcome-msg{
       display: inline-block;
       
      }
      .btn-git{
        width:30px;
        height:30px;
        border-radius: 100%;
      }
      #welcome-msg{
        font-size: larger;
        position: relative;
        right: 7rem;
        text-align: center;
      }
      .projects{
        display:inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:100%;
        height:100;
        margin:auto;
      }
      .projectcard h2{
        display: block;
        font-size: x-large;
        
        
      }
     .projectcard{
        display: inline-block;
        width:100%;
        height:100%;

     }
     .projectcard>img{
        margin:auto;
        width:50vw;
        height:100%;
        
        
     }
     /* #fastfood-app{
        display: inline-flex;
        background-size: cover;
        width:100%;
        height:100%;
        
     } */
     #edu-section{
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        gap:10rem;
     }
     /* #edu-section h2{
        position: relative;
        right:5vw;
     } */
     #edu-section img{
        display: inline-flex;
        flex-direction: row;
        width:50px;
        height:70px;
        margin: auto;
        transform: translate(-10vw,5vh);
        
     }
     #edu-section>h2{
        transform: translate(20rem,-5rem);
        margin-bottom:2rem;
        margin-top:2rem;
        
       
        
     }
     img:hover{
        transform: scale(1.1);
     }
     #contact-form{
        display:inline-flex;
        margin-bottom:1rem ;
         
     }
     #contact-form>label{
        padding-top: 20rem;
        font-weight: 600;
        font-size: large;
        
     }
     #contact-form >input{
        width:100%;
        height:20px;
        font-size: medium;
        text-align: start;
    
     }
     #msg-area{
        display: block;
     }
     .hire{
        margin:1rem;
     }

  }
  