@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla',sans-serif;
    
}

body{
    color:white;
    background-color: #001925;
}
.container{
    display: block;
    max-width:100%;
    min-height:100%;
    /* background-image: url(./back.jpg); */
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right:8%;
}
nav{
    padding:10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size:40px;
    text-decoration:none;
  
}
span{
    color: hsl(199, 92%, 63%);
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 5px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    transition:0.5s;
    
}
nav ul li a:hover{
    color:#49c0f7;
    font-size: larger;
    transition: all .50s ease-in-out;
}
/* navbar */

.navbar{
    min-height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* Hamburger menu */
.hamburger{
    display:none;
    cursor:pointer;
}
.bar{
    display: block;
    width:25px;
    height:3px;
    margin:5px auto;
    -webkit-transition:all 0.5s ease-in-out;
    transition:all 0.3s ease-in-out;
    background-color: white;
}
img:hover{
    transform: scale(1.3);
    transition: all .5s ease-in-out;
}
.btn{
    background: #000;
}
.content{
    margin-top:10%;
    max-width: 100%;
}
.content h2{
    font-size: 60px;
}
.content p{
    margin-top:5px;
    line-height:25px;
}
a{
    color:#fff;
    font-family: 'Karla', 'Helvetica Neue', Helvetica, Arial;
    font-size: 1rem;
    font-weight:600;
}
.link{
    margin-top: 10px;
}
.hire{
    color:#fff;
    text-decoration: none;
    background: #5a9dfa;
    padding: 9px 25px;
    font-weight:900;
    border-radius:6px;
    transition:0.5s;

}
.link .hire:hover{
    background: #fff;
    border: 1px solid #f9004d;
    color: #49c0f7;
    transition:all .5s linear ease-in-out;
}
.hire:first-child{
    background: linear-gradient(90deg, #03a9f4, #49c0f7, #64c0eb, #8bd5f7);
    background-size: 400%;
}
.hire:last-child{
    background: linear-gradient(90deg, #3ebef9, #44c1fb, #36bdfb, #7176fa);
    background-size: 400%;
}
.hire:first-child:before,
.hire:last-child:before{
    filter:blur(20px);
    opacity:0;
    transition:opacity 0.5s;
}
/* Add lang logo boxes */
.hero-image{
    position:relative;
    max-width:50%;
    min-height: 350px;
    display:flex;
    margin-bottom: 150px;
    right: -60%;
    bottom:30%;
    
    
}
.cube{
    position: absolute;
    max-width:80px;
    transform: rotate(-25deg)skew(25deg);
    
    
}
.cube::before{
    position:absolute;
    content:"";
    width:21px;
    height:100%;
    transform: skewY(-45deg);
    left:-20px;
    bottom:-10px;
}
.cube::after{
    position: absolute;
    content:"";
    width:100%;
    height: 21px;
    transform:skewX(-45deg);
    left: -10px;
    bottom:-20px;
}
#html{
    left:100px;
    bottom:80px;
    background-image: url("./images/html-square.png");
    background-size: cover;
    background-color:#03a9f4;
    box-shadow:-60px 60px 20px rgba(211, 219, 222, 0.15);
    height:100px;
    
}
#html::before{
    background-color: #03a9f4;
}
#html::after{
    background-color: #49c0f7;
}
#css{
    left:250px;
    bottom:240px;
    background-image: url("./images/css-square.png");
    background-size: cover;
    background-color: #03a9f4;
    box-shadow: -100px 100px 20px rgba(211, 219, 222, 0.15);
    height:100px;
}
#css::before{
    background-color: #03a9f4;
}
#css::after{
    background-color: #49c0f7;
}
#javascript{
    left:450px;
    bottom:200px;
    background-image: url("./images/javascript-square.png");
    background-size: cover;
    background-color: #03a9f4;
    box-shadow: -40px 40px 20px rgba(211, 219, 222, 0.15);
    max-height:100px;
}
#javascript::before{
    background-color: #49c0f7;
}
#javascript::after{
    background-color: #49c0f7;
}
#react{
    left:350px;
    bottom:40px;
    background-image: url("./images/react-square.png");
    background-size: cover;
    background-color: #03a9f4;
    box-shadow:-80px 80px 20px  rgba(211, 219, 222, 0.15);
    height:100px;
    
    
}
#react::before{
    background-color:#49c0f7;
    
}
#react::after{
    background: #49c0f7;
}
#welcome-msg{
    transform: translate(28vw,15vh);
    animation: shadow 5s infinite ease-in-out;
}
p{
    font-weight: 900;
}
main{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius:10%;   
    
}
.btn-git{
    display:inline-block;
    background-color: #49c0f7;
    margin:20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:none;
    background-image: url("./images/projects-snapshot/github-mark.png");
    background-size: cover;
    background-position: center;
    
   
}
.btn-git:hover{
    box-shadow: 0 0 1rem #bce2f4;
    animation: rollover .20s ease ;
}
.hire a{
    
    text-decoration: none;
    
}
.projects h2{
    padding-top:1rem ;
    padding-bottom:1rem;
}
#proj-title{
    position: relative;
    bottom: 20rem;
    right:-25rem;
    
}

.projectcard{
    display: inline-flex;
    box-shadow: 0 0 1rem #49c0f7;
    flex-wrap: wrap;
    text-align: center;
    border-radius:10%;
    justify-content: center;
    align-items: center;
    max-width: 100%;

}
.projectcard img {
    border-radius:10%;
    max-width: 50%;
    min-height:50%;
    padding-bottom:20px;
    padding-top:1rem;
    
    
    
}
.projectcard img:hover{
    box-shadow: 0 0 5rem #49c0f7;
    border: none;

    
/* }
#budget-tracker{
 width:50vw;

 height:50vh;    */
}
#edu-section{
    display:inline-flex;
    
    
}
#edu-section h2{
    position: relative;
    bottom:-2rem;
    right:-5rem; 
    display: block;
    text-decoration:  underline #49c0f7;
    margin:5vw;
    /* transform: translate(18rem);     */

}
.edu-items img{
    display: block;
    justify-content: space-evenly;
    align-items: center;
    background-color: #49c0f76d;
    
}
#contact-form{
    display: inline-flex;
    background-color: #001925;
    font-size:xx-large;
    max-width:80vw;
    min-height:60vh;
    white-space: wrap;
    justify-content: center;
    align-items: center;
    box-shadow:0 0 1rem #49c0f7;
    border-radius: 2rem;
}
#msg-area{
    padding:5rem;
    border-radius: 2rem;
    margin:1rem;
 
}
.link{
    
    align-items: center;
    justify-content: center;
}
input{
    background-color:#fff;
    font-size: 1.5rem;
    border-radius:1rem;
    text-align: center;
    margin: 0 1rem  ;
}
#form-title{
    
    position: relative;
    padding-bottom: 1rem;
    font-size:2rem;
    
    
}

#contact-form button{
   display: inline-flex;
    border: none;
    border-radius:1rem;
    margin-bottom:1rem;


}
@keyframes shadow{
    0%{
        text-shadow:0 0 .1rem #64c0eb;
    }
    100%{
        text-shadow: 0rem 0rem .5rem #8bd5f7;
    }
}
@keyframes rollover{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media(min-width:799px){

.hamburger{
    display: block;
    position: relative;
    bottom:2.5vh;
    margin: auto -1rem;
}
.hamburger.active .bar:nth-child(2){
    opacity:0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px)rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px)rotate(-45deg);
}
.nav-menu{
    position: fixed;
    left: -100%;
    top:70px;
    gap:0;
    flex-direction: column;
    transition: 0.3s;
}
.nav-menu.active{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    left:85%;
    margin: auto -5rem;
}
}


@media(min-width: 799px) {
    .hero-image{
        display:inline-flex;
        position:sticky;
        width: 100%;
        height: 50vh;
        justify-content: center;
        transform: translate(-5vw,-5vh);
        z-index: -6;
        opacity:20%;
        margin:0%;
        
    }
    .cube {
        width: 15%;
        position:relative;
        
        
    }
    #html{
        left: -1%;
        bottom: -60%;
        padding:25%;
        max-width: 100%;

        
      }
      #css {

          left: 50%;
          bottom: -95%;
          padding:25%;
          max-width: 100%;
      }
      #javascript{
          left: 90%;
          bottom:-30%;
          padding:26%;
          /* max-width: 100%; */
      }
      #react{
          left: 25rem;
          bottom: -60%;
          padding:25%;
          /* max-width: 100%; */
      }
      #welcome-msg{
        position:relative;
        right:1rem;
        max-width: 100%; 
        font-size: xx-large;
        right: 27vw;
        text-align: center;
        margin: 0%;
      }
      .btn-git{
        width:30px;
        height:30px;
        border-radius: 100%;
        transform: translate(-15rem,2rem);
        margin-bottom:3rem ;
      }
    
      .projectcard>h2{
        display: block;
        font-size: x-large;
        padding:1rem;
      }
      .projectcard{
        display: inline-block;
        position: relative;
        max-width:100%;
        min-height:100%;
        justify-content: center;
        align-items: center;
        margin:auto;
        left:-14vw;
        gap: .5rem;


     } 
     .projectcard>img{
        align-items: center;
        justify-content: center;
        margin:auto;
        max-width:100%;
        min-height: 100%;
        border-radius:2rem;
        margin:1remauto;
        
        
        
     }
     /* #fastfood-app{
        display: inline-flex;
        background-size: cover;
        width:100%;
        height:100%;
        
     } */
     #edu-section{
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        gap:1rem;
        
     }
     /* #edu-section h2{
        position: relative;
        right:5vw;
     } */
     #edu-section img{
        display: inline-flex;
        max-width:80px;
        min-height:80px;
        margin: auto;
        border-radius: 3rem;
        padding:.5rem;
        align-items: center;
        transform: translate(-40vw,8vh);
         
     }
     #edu-section>h2{
        display:flex;
        text-align: center;
        transform: translate(3vw,-12vh);
        margin-bottom:3rem;
        margin-top:4rem;
     }
    
     #contact-form{
        display:inline-flex;
        padding:10rem;
        border: none;
        max-width: 50vw;
           
     }
     #contact-form ,label{
        display:inline-flex;
        justify-content: center;
        text-align: center;
        padding-top:1rem;
        font-weight: 600;
        font-size: large;
        transform: translate(-18vw); 
        
       
        
     }
     #form-title{
        position: relative;
        transform: translate(-5rem);
     }
     #msg-area{
        display: block;
        position:relative;
       left:-1vw;
       max-width: 50vw;
       border-radius: 2rem;

        
        
     }
     
     #contact-form input{
        /* transform: translate(-5rem); */
        max-width:80vw;
        min-height:2vh;
        font-size: medium;
        text-align:start;

    
     }
     .hire{
        position: relative;
        left: -3vw;
        padding-bottom: -2vh;
     }

  }
  @media (max-width: 800px) {
    .hero-image{
        display:inline-flex; 
        position:sticky;
        max-width: 50vw;
        
        
        
        justify-content: center; 
        align-items: center;
         /* transform: translate(-4rem,-5rem);  */
        z-index: -6;
        opacity:20%;
        
    }
    #html{
        padding: 7rem;
        left: 50vw;
        bottom: -20%;

    

      }
      #css {
        padding:7rem;
          left:30vw;
          bottom: -60%;
         
      }
      #javascript{
          padding:7rem;
          left: 5vw;
          bottom:-15%;
          
      }
      #react{
        padding:7rem;
          left: 25vw;
          bottom: 90px;
          
      }
      .btn-git{
        display:block;
        width:30px;
        height:30px;
        border-radius: 100%;
      }
      #welcome-msg{
        font-size: xx-large;
        position: relative;
        right: 7rem;
        text-align: start;
        white-space: nowrap;
        
      }
      
      .projectcard>h2{
        display: block;
        font-size: x-large;
        padding:.5rem
        
        
      }
     .projectcard{
        display: inline-block;
        max-width:50vw;
        min-height:50vh;
        position: relative;
        left: 15vw;
        align-items: center;
        margin-bottom: 1rem;
     }
     .projectcard>img{
       max-width:40vw;
       min-height:60vh;
       border-radius: 2rem;
       
      
     }
   
     #edu-section{
        display:inline-flex;
        gap:1rem;
        margin-top:5vh; 
        transform: translate(3vw);
     }

     #edu-section img{
        position:relative;
        width:70px;
        height:70px;
        border-radius:100%; 
        padding:.2rem;
        margin-top:2vh;


        
     }
     #edu-section>h2{
        transform: translate(16vw,-9vh);
        margin-bottom:2rem;
        margin-top:2rem;
        }
     img:hover{
        transform: scale(1.1);
     }
     #contact-form{
        display:inline-flex;
        margin-bottom:.1rem ;
        transform: translate(15vw);
        font-size: 1.5rem;
        padding-left: .5rem;
         
     }
     #contact-form>label{
        padding-top: 20rem;
        font-weight: 600;
        
     }
     #contact-form >input{
        max-width:100vw;
        min-height:10vh;
        font-size: medium;
        text-align: start;
        padding: 1rem;
    
     }
     #msg-area{
        display: block;
        max-width:50vw;
        min-height: 10vh;
     }
     #form-title{

        position: relative;
        left:15vw;
        margin-top: 1rem;
        text-decoration: underline solid #49c0f7;
        
     }

     
  }
  
  